/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

a {
    border-bottom: 1px solid;
    color: rgb(121, 168, 231);
    text-decoration: none;        
}

a:visited, .dotted {
    border-bottom: 1px dotted;
}

a:hover, .dotted:hover {
    border-bottom: none;
}

html, 
body, 
.main {    
    min-width: 850px;
    height: 100%;
}

.main {
    height: auto;
    min-height: 100%;
    margin-bottom: -45px;
    background: url('../img/bg.gif') repeat-x 10px 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 550px; 
    margin-top: -85px;    
    margin-left: -275px;                    
}

.container-results {
    max-width: 1000px;
    margin: 0 auto;
}

/* Logo
   ===================================================================== */

.logo {
    width: 150px;
    margin-top: 15px;               
}

.logo-title {
    margin-bottom: 0; 
    background: url('../img/coolim.png') no-repeat;       
}

.logo-subtitle {
    margin-top: 0;
    color: rgb(171, 184, 201);
    font-size: 12px;
    font-weight: normal;         
}

.logo-title-results-page {
    width: 185px;
    height: 100px;
    padding: 40px 0 0 30px;
}


 /* Searching
    ==================================================================== */

 .search-bar {
    width: 375px;              
}

.search-input {
    width: 75%;
    height: 30px;    
    padding: 3px 5px 3px 3px;
    border: 1px solid #adcdf9;
    border-radius: 5px 0 0 5px;
    margin-bottom: 0;
    font-size: 14px;            
}

.search-button {
    width: 25%;
    height: 30px;        
    border-radius: 0 5px 5px 0;
    border: 1px solid #adcdf9;
    border-left: none;
    background: #ffffff; 
    background: -moz-linear-gradient(top, #ffffff, #eeeeee); 
    background: -webkit-linear-gradient(top, #ffffff, #eeeeee); 
    background: -o-linear-gradient(top, #ffffff, #eeeeee); 
    background: -ms-linear-gradient(top, #ffffff, #eeeeee); 
    background: linear-gradient(top, #ffffff, #eeeeee); 
    font-size: 14px;
}

.search-button:hover {    
    background: -moz-linear-gradient(top, #ffffff, #f1f1f1); 
    background: -webkit-linear-gradient(top, #ffffff, #f1f1f1); 
    background: -o-linear-gradient(top, #ffffff, #f1f1f1); 
    background: -ms-linear-gradient(top, #ffffff, #f1f1f1); 
    background: linear-gradient(top, #ffffff, #f1f1f1); 
    color: #555;
}

.search-bar-results {    
    padding-top: 28px;
    margin: 0 200px;
}

/* Tooltips
   =================================================================== */
 
.tooltip {
    position: relative;    
    padding: 0 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ffef77;    
    line-height: 30px;
}

.tooltip:before {
    position: absolute;
    top: -7px; 
    left: 30px;       
    display: block;
    height: 0;
    width: 0;
    border-bottom: 7px solid #ffef77;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;    
    line-height: 0; 
    content: '';  
}

.tooltip-primary {
    background-color: #ebf2fb;
}

.tooltip-primary:before {
    border-bottom: 7px solid #ebf2fb;
}

.tooltip-input {
    height: 36px;
    padding: 3px;    
}

.tooltip-page {
    display: inline-block;
    width: 34px !important;
    height: 34px !important;
    padding: 0;    
}

.tooltip-page:before {
    left: 10px;    
}

.chosen-page {
    width: 26px;
    height: 26px;     
    border: 1px solid #adcdf9;
    border-radius: 5px;
    margin: 4px;    
    background-color: #fff;      
}

/* Lists
   =================================================================== */

.inline-list {
    padding: 0;
    margin: 0;    
    list-style: none;
}

.inline-list li {
    display: inline-block;                         
}

.inline-list-separated li { 
    padding: 0 16px;
    border-left: 1px solid rgb(121, 168, 231);    
}

.inline-list-separated li:first-child{
    padding-left: 0;
    border-left: none;    
}

.searching-items {
    padding: 0 20px;
}    

.searching-items li {
    padding-right: 20px;
}

/* Links
   =================================================================== */

.searching-items a {
    border-bottom: 1px dotted;
}

.searching-items a:hover {
    border-bottom: none;
}

/* Pictures
   =================================================================== */

.language-img {
    margin-right: 10px;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* Floats
   =================================================================== */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Search-results header
   =================================================================== */

.results-quantity {
    float: right;
    padding: 55px 30px 0 0;
    color: #999;
    font: 12px Arial, sans-serif;
}

.header-results {
    height: 100px;
}

/* Navigation panel
   =================================================================== */

.navigation {
    float: left;
    width: 180px;
    padding-left: 30px;
    line-height: 23px;     
}

.navigation h3 {
    margin: 0;
    color: #999;
    font: 11px Arial, sans-serif;    
    font-weight: normal;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style: none;
}

.navigation a { 
    border-bottom: none;   
    color: #6293df;
    font: Arial 12px;    
}

.chosen {
    color: #363a40;
    font-weight: bold;
}

.resourse,
.search,
.license {
    margin-bottom: 30px;
}

/* Search-results
   =================================================================== */
 
.results { 
    padding: 0;            
    margin-left: 181px;       
}

.pictures {    
    padding-left: 17px;
}

.pictures li {
    display: inline-block;
    padding: 5px;
    list-style: none;    
}

.page-button {
    width: 95px;
    height: 25px;    
    border: 1px solid #d0e2fb; 
    border-radius: 5px;      
    margin: 15px 20px 30px;       
    background: #f9fbfe; 
    background: -moz-linear-gradient(top, #f9fbfe, #f0f2f5); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(top, #f9fbfe, #f0f2f5); /* Chrome 1-9, Safari 4-5 */
    background: -o-linear-gradient(top, #f9fbfe, #f0f2f5); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9fbfe, #f0f2f5); /* IE10 */
    background: linear-gradient(top, #f9fbfe, #f0f2f5); /* CSS3 */ 
    color: #363a40;
    font-size: 12px;
}

.page-button:hover {
    background: #f4f6f9; 
    background: -moz-linear-gradient(top, #f4f6f9, #dbe4f0); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(top, #f4f6f9, #dbe4f0); /* Chrome 1-9, Safari 4-5 */
    background: -o-linear-gradient(top, #f4f6f9, #dbe4f0); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f6f9, #dbe4f0); /* IE10 */
    background: linear-gradient(top, #f4f6f9, #dbe4f0); /* CSS3 */ 
    color: #4c525a;
}

.pages {
    width: 300px;
    margin: 0 auto;    
    color: #6293df;
    text-align: center;
}

.pages li {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}

/* Footers
   =================================================================== */

 .footer, .push {
    height: 45px;
    clear: both;
 }

.footer {
    padding: 15px 30px;     
    line-height: 10px;
    font-size: 11px;
}

/* Social icons
   =================================================================== */

.social-icon {
    display: inline-block;
    width: 16px;
    height: 16px;    
    background: url('../img/social-icons-sprite.gif') no-repeat;
}

.social-icon-facebook {
    background-position:  0 0;
}
.social-icon-twitter {
    background-position:  -20px 0;
}
.social-icon-envelope {
    background-position:  -40px 0;
}
.social-icon-linkedin {
    background-position:  -60px 0;
}
.social-icon-plus {
    width: 57px;
    background-position:  -80px 0;    
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
